<head>
  <link rel="stylesheet" href="/css/home.css"> 
</head>


<body>
  <div class="w-100 post-form container-fluid d-flex flex-column justify-content-center" id="recent-post-container">
    <header class="w-100 text-center">
      <h2 class="justify-content-center">Recent Blog Posts</h2>
    </header>
    <ul class="list-group w-100 ">
    {{#each posts as |post|}}
      <li data-id="{{post.id}}" class="blog-post list-group-item post-list-item">
        <div class="d-flex flex-row justify-content-between text-center text-middle">
          <h3 class="mb-0">{{post.post_name}}</h3>
          <div class="d-flex flex-row justify-content-between">
            <p class="font-weight-bold">{{post.user.username}}</p>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <p class="font-weight-bold">{{post.post_date}}</p>
          </div>
        </div>
      </li>
      <div class="m-3"></div>
    {{/each}}
    </ul> 
  </div>
    
    <div id="home-modal" class="modal ">
      <div class="post-modal modal-content">
        <span id="signup-close" class="d-flex justify-content-end post-modal-close">&times;</span>
        <ul class="list-group">
          <li class="list-group-modal list-group-item comment-group">        
            <div class="d-flex flex-column justify-content-between">
              <h3 id="post-title"></h3>
              <div>
                <div class="d-flex align-items-center justify-content-between">
                  <h5 id="post-author"></h5>
                  <p id="post-date" ></p>
                </div>            
              </div>
            </div>
            <div> 
              <p id="post-content" class="border-top py-2 m-0"></p>
            </div>
            
          </li>
          <li>
            <div class="d-flex flex-row align-items-center justify-content-between p-2">
              <h6 class="m-0 font-weight-bold">Comments</h6>
            </div>
            <ul  class="list-group comment-id ">

            </ul>
          </li>
        </ul> 
      </div>
    </div>
  </div>

  <script src="/js/home.js"></script>
</body>