@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

:root {
  --dark: rgb(31, 48, 85);
  --white: rgba(255,255,255,0.7);
  --whiteMod: rgb(255, 255, 255);
  --light: rgba(216, 216, 216, 0.7);
  --darker: rgba(0,0,0,0.7);
  --green: #2ccf6d;
  --darkbg: #536489;
  --lightblue: rgb(169, 169, 169);

}

body, html {
  height: 100%;
}
body {
  font-family:"Nunito Sans";
  font-weight: 100;
  overflow: auto;
}
input {
  ::-webkit-input-placeholder {
     color: var(--dark);
  }
  ::-moz-placeholder {
     color: var(--dark);  
  }
  :-ms-input-placeholder {  
     color: var(--dark);  
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
     color: var(--white);
    }
    ::-moz-placeholder {
       color: var(--white);  
    }
    :-ms-input-placeholder {  
       color: var(--white);  
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
color: var(--dark);
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}


::placeholder { 
    color: var(--dark);
    opacity: 1; 
   
}
input:focus::placeholder, input:hover::placeholder {
    color: var(--white);
}

.post-form {
  background: var(--white);
    border-radius: 1rem;
    border: 4px solid var(--dark);
    box-shadow: 0 0 .3rem var(--dark);
  min-height: 10rem;
  margin: auto;
  margin-top: 1rem;
  width: 75%;
  min-width: 300px;
  max-width: 75%;
  padding: .5rem;
}

.dash-modal {
    background: var(--whiteMod);
    border-radius: 1rem;
    border: 4px solid var(--dark);
    box-shadow: 0 0 .3rem var(--dark);
    min-height: 10rem;
    margin: auto;
    margin-top: 14rem;
    width: 75%;
    min-width: 300px;
    max-width: 75%;
    padding: .5rem;
}


.comment-submit {
  border: 1px solid var(--dark);
  border-radius: 25px;
  background: transparent;
  color: var(--dark);
  display: block;
  margin: 1rem auto;
  width: calc(25% - 2rem);
  padding: .25rem;
  transition: 250ms background-color ease-in;
  &:hover, &:focus {
    background-color: var(--dark);
    color: var(--white);
    transition: 250ms background-color ease-in;
  }
}

.blog-post {
  background-color: #c6c6c6;
}

.blog-post > * {
  color: var(--dark);
}

.list-group-item {
  padding: 0;
  /* border: 4px solid var(--dark); */
}

.comment-group {
  border: 1px solid var(--lightblue);
}

.current-post {
  border: 4px solid var(--dark);
}


.post-list-item:hover, .dash-modal-close:hover {
  cursor: pointer;  
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signup-cancel {
  border: 1px solid var(--dark);
  border-radius: 25px;
  background: transparent;
  color: var(--dark);
  display: block;
  margin: 1rem auto;
  width: calc(100% - 2rem);
  padding: .25rem;
  transition: 250ms background-color ease-in;
  &:hover, &:focus {
    background-color: var(--dark);
    color: var(--white);
    transition: 250ms background-color ease-in;
  }
}


.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

.post-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pageButtons {
    width: 25%;
}

.editDel {
    justify-content: flex-end;
}
  
@media screen and (max-width: 768px) {
    .post-form {
      width: 100%;
      max-width: 100%;
    }
    .post-box {
      flex-direction: column;
    }
    .post-seperator {
        display: none;
    }
    .pageButtons {
        width: 100%;
    }
    .editDel {
        justify-content: center;
    }
}