@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
:root {
  --blue: rgb(31, 48, 85);
  --white: #fff;
  --green: #2ccf6d;
}

html,
body {
  height: 100%;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h2 {
  margin: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans";
  color: var(--blue);
  font-size: 1em;
}

header {
  width: 80%;
}

button {
  font-family: "Nunito Sans";
}

ul {
  list-style-type: none;
  padding-inline-start: 35px;
}

svg {
  width: 100%;
  visibility: hidden;
}

.h1,
h1 {
  font-size: 50em;
  margin: 15px 0px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
}

footer {
  width: 80%;
  margin-top: auto;
  border-top: rgb(31, 48, 85) 1px solid;
  padding: 10px 0px;
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  min-width: 216.7px;
  font-weight: bold;
  margin: 5px 0px;
  &.blue {
    border: 4px solid var(--blue);
    color: var(--blue);
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background: var(--blue);
      z-index: -1;
      transition: 0.2s ease;
    }
    &:hover {
      color: var(--white);
      background: var(--blue);
      transition: 0.2s ease;
      &:before {
        width: 100%;
      }
    }
  }
}

#header-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.btn-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#log-btn {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #header-box {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .btn-box {
    flex-direction: column;
    justify-content: center;
  }
}
